<% div_for bookmark do -%>
  <h2><%= link_to sanitize(bookmark.title), bookmark.uri.to_s %></h2>
  <%= published_data(bookmark) %>
  
  <% unless bookmark.description.blank? -%>
  <p class="soft"><%= sanitize bookmark.description %></p>
  <% end -%>

  <%= link_to h(bookmark.uri.to_s), sanitize(bookmark.uri.to_s), :class => "bookmark" %>
  <p>
  <%= tags(bookmark) %>
  </p>

<% end -%>
