<fieldset>
<p>
  <%= form.label :title, t('bookmark.title') %><br />
  <%= form.text_field :title, :class => "title"%>
</p>

<p>
  <%= form.label :body, t('bookmark.uri') %><br />
  <%= form.text_field :uri, :class => "text"%>
</p>

</fieldset>


<fieldset>

<p>
  <%= form.label :description, t('bookmark.description'), :onclick => "new Element.toggle('toggle');" %><br />
  <%= form.text_area :description %>
</p>

<%= form.tags %>

</fieldset>
