<h1><%= title %></h1>

<%= published_data(@bookmark) %>

<div class="description">
  <%= simple_format(auto_link(sanitize(@bookmark.description))) if @bookmark.description.present? %>
</div>

<% div_for(@bookmark, :class => 'prepend-1 prepend-top append-bottom') do %>
  <%= link_to h(@bookmark.uri), h(@bookmark.uri), :class => 'bookmark' %>
<% end %>

<%= tags(@bookmark) %>

<%= posts(@bookmark) %>
