<h1><%= title %></h1>

<%= published_data(@bookmark) %>

<div class="description">
  <%= simple_format(auto_link(sanitize(@bookmark.description))) if @bookmark.description.present? %>
</div>

<%= link_to h(@bookmark.uri), h(@bookmark.uri), :class => 'bookmark' %>

<p>
  <%= tags(@bookmark) %>
</p>

<hr>

<%= posts(@bookmark) %>
