<% content_for :sidebar do -%>
  <%= container_menu %>
<% end %>

<h1><%= title %></h1>

<%= published_data(@bookmark) %>

<div class="description">
  <%= sanitize @bookmark.description %>
</div>

<%= link_to h(@bookmark.uri), h(@bookmark.uri), :class => 'bookmark' %>

<p>
  <%= tag_list(@bookmark) %>
</p>
