<fieldset>
<p>
  <%= form.label :title, t('audio.title') %><br />
  <%= form.text_field :title, :class => "title"%>
</p>

<p>
  <%= form.label :title, t('audio.file')%><br />
  <%= form.file_field :media %>
</p>

<p>
  <%= form.label :public_read, t('audio.public_read') %><br />
  <%= form.check_box :public_read %>
</p>
</fieldset>

<%= render :partial => 'contents/notification_form', :object => form %>

<fieldset>
<p>
  <%= form.label :title, t('audio.description')%><br />
  <%= form.text_area :description %>
</p>

<%= form.categories %>
<%= form.tags %>
</fieldset>

