<h1><%= title %></h1>

<%= published_data(@audio) %>

<% div_for @audio, :class => 'center' do %>
  <%= link_logo @audio, :size => 128, :url => formatted_audio_path(@audio, @audio.format) %>

<p>
<%= simple_format(auto_link(sanitize(@audio.description))) if @audio.description.present? %>
</p>

<% end %>

<%= tags(@audio) %>

<%= posts(@audio) %>
