<h1><%= title %></h1>

<%= published_data(@audio) %>

<%= link_logo @audio, :size => 128, :url => formatted_audio_path(@audio, @audio.format) %>

<br />
<%= simple_format(auto_link(sanitize(@audio.description))) if @audio.description.present? %>

<%= tags(@audio) %>

<%= posts(@audio) %>
