<% content_for :sidebar do -%>
  <%= container_menu %>
<% end %>

<h1><%= title %></h1>

<%= published_data(@audio) %>

<%= link_logo @audio, :size => 128, :url => formatted_audio_path(@audio, @audio.format) %>

<br />
<%= sanitize @audio.description %>

<p>
  <%= tag_list(@audio) %>
</p>

<hr>

<%= comments(@audio) %>
