<p>
  <label><%= form.label :title, t('task.title')%></label><br />
  <%= form.text_field :title %>
</p>

<p>
  <label><%= form.label :description, t('task.description')%></label><br />
  <%= form.text_area :description %>
</p>

<p>
  <label><%= form.label :start_at, t('task.start_at')%></label><br />
  <%= form.datetime_select :start_at %>
</p>

<p>
  <label><%= form.label :recurrence, t('task.recurrence.one')%></label><br />
  <%= form.select :recurrence, Task::RECURRENCE.each_with_index.map{ |r, i| 
  [ t(r, :scope => 'task.recurrence'), i ] } %>
</p>

<fieldset>

<p>
  <label><%= form.label :email_notifications, t('task.email_notifications')%></label><br />
  <%= form.check_box :email_notifications %>
</p>

<p>
  <label><%= form.label :email_subject, t('task.email_subject')%></label><br />
  <%= form.text_field :email_subject %>
</p>

<p>
  <label><%= form.label :email_body, t('task.email_body')%></label><br />
  <%= form.text_area :email_body %>
</p>


</fieldset>
