<h1><%= sanitize task.title %></h1>
<%= published_data(task) %>
<p id="description">
<%= sanitize(task.description) if task.description.present? %>
</p>

<%= t('task.start_at') %>: <%= localize task.start_at %><br/>
<%= t('task.recurrence.one') %>: <%= task.recurrence_in_words %>


<% if task.turns.any? %>
  <h2><%= t 'turn.other' %></h2>
  <%= render task.turns.sorted_at %>
<% end %>

<%= posts(task) %>
