<% div_for article do -%>
  <h2><%= link_to sanitize(article.title), [ article.owner, article ] %></h2>
  <%= published_data(article) %>

  <div class="body">
  <% if article.description.blank? -%>
  <%= sanitize Hpricot(truncate(article.body, :length => 1024, :omission => "... #{ link_to(t('read_more'), article) }"), :xml_strict => true).to_s %>
  <% else -%>
    <%= sanitize article.description %>
  <% end -%>
  </div>
  <p>
    <%= tag_list(article) %>
  </p>
<% end -%>
