<% div_for article do -%>
  <h2><%= link_to sanitize(article.title), [ article.owner, article ] %></h2>
  <%= published_data(article) %>

  <div class="body">
  <% if article.description.blank? -%>
  <%= sanitize Hpricot(truncate(move_format_text(article.body), :length => 2048, :omission => "... #{ link_to(t('article.read_more'), article) }"), :xml_strict => true).to_s %>
  <% else -%>
    <%= sanitize article.description %>
  <% end -%>
  </div>
  <p>
    <%= tags(article) %>
  </p>
<% end -%>
