<% jquery_tags('article') %>
<% content_for :headers, javascript_include_tag('fckeditor/fckeditor') -%>

<fieldset>
<p>
  <%= form.label :title, t('article.title') %><br />
  <%= form.text_field :title, :class => "title"%>
</p>

<p>
  <%= fckeditor_textarea :article, :body, :toolbarSet => 'Simple', :width => '100%', :height => '400px' %>
</p>

<p>
  <%= form.label :tags, t('tag.other') %><br />
  <%= form.tags_select %>
</p>

<p>
  <%= form.label :public_read, t('article.public_read') %><br />
  <%= form.check_box :public_read %>
</p>
</fieldset>

<%= render :partial => 'contents/notification_form', :object => form %>
