<% content_for :headers, javascript_include_tag('fckeditor/fckeditor') -%>

<h2><%= t('article.title') %></h2>
<%= form.text_field :title, :size => 50 %>

<h2 onclick="new Element.toggle('toggle');"><%= t('article.description') %></h2>
<div id="toggle" <% if @article.description.blank? %>style="display: none;"<% end %>>
  <%= fckeditor_textarea :article, :description, :width => '100%', :height => '300px' %>
</div>

<h2><%= t('article.body') %></h2>
<%= fckeditor_textarea :article, :body, :toolbarSet => 'Simple', :width => '100%', :height => '400px' %>

<%= form.tags %>

