<% content_for :headers, javascript_include_tag('fckeditor/fckeditor') -%>

<fieldset>
<p>
  <%= form.label :title, t('article.title') %><br />
  <%= form.text_field :title, :class => "title"%>
</p>

<p>
  <%= form.label :body, t('article.body') %><br />
  <%= fckeditor_textarea :article, :body, :toolbarSet => 'Simple', :width => '100%', :height => '400px' %>
</p>

</fieldset>


<fieldset>

<p>
  <%= form.label :description, t('article.description'), :onclick => "new Element.toggle('toggle');" %><br />
<div id="toggle" <% if @article.description.blank? %>style="display: none;"<% end %>>
  <%= fckeditor_textarea :article, :description, :width => '100%', :height => '300px' %>
</div>
</p>

<%= form.tags %>

</fieldset>
