<h1><%= sanitize @article.title %></h1>

<%= published_data(@article) %>

<% if @article.description.present? -%>
<div class="description">
  <%= sanitize @article.description %>
</div>
<% end -%>

<div class="article-body">
<%= sanitize @article.body %>
</div>

<%= tags @article %>

<hr>

<%= comments(@article) %>
