<h1><%= sanitize @article.title %></h1>

<%= published_data(@article) %>

<% if @article.description.present? -%>
<div class="description">
  <%= sanitize @article.description %>
</div>
<% end -%>

<div class="article-body">
<%= sanitize @article.body %>
</div>

<% if @article.source_importation.try(:uri).present? -%>
<div class="article-source">
  <%= link_to t('article.source'), @article.source_importation.uri.to_s %>
</div>
<% end -%>

<%= tags @article %>

<%= posts(@article) %>
