<% if @group.parent.present? %>
  <% content_for :title_header, title(t('group.children.new_in', :parent => @group.parent.name), :append_site_name => true) %>
  <% content_for :sidebar, container_menu(@group.parent) %>
  <h1><%= t('group.children.new_in', :parent => @group.parent.name) %></h1>
<% else %>
  <h1><%= title %></h1>
<% end %>


<%= error_messages_for :group %>

<% form_for(@group, :html => { :multipart => true }) do |f| %>
  <%= render :partial => "form", :object => f %>
    
  <p>
    <%= submit_tag t(:create) %>
  </p>
<% end -%>
