<h1><%= title %></h1>

<table>
  <tr>
    <th><%= t(:title) %></th>
  </tr>

<% for turn in @turns -%>
  <tr>
    <td><%=sanitize turn.title %></td>
    <td><%= link_to t(:show), polymorphic_path(turn) %></td>
    <td><%= link_to t(:edit), edit_polymorphic_path(turn) %></td>
    <td><%= link_to t(:delete), polymorphic_path(turn), :confirm => t(:are_you_sure), :method => :delete %></td>
  </tr>
<% end -%>
</table>

<br />

<%= link_to t(:new, :scope => :turn), new_turn_path %>
