<div id="activity-<%= dom_id(content) %>" class="activity">
  <div class="activity-details published-data">
    <%=
    action = ( content.created_at == content.updated_at ? 'published' : 'updated' )
    owner = ( content.owner.is_a?(User) ? 'user' : 'group' )
    t "content.stream.#{ owner }.#{ action }",
      :author    => link_logotype(content.author),
      :content   => link_to(t('a', :scope => content.class.to_s.underscore), [ content.owner, content ]),
      :time      => time_ago_in_words(content.updated_at),
      :container => link_to(content.owner.name, content.owner)
  %>
  </div>
  <div class="activity-content">
    <%= link_logo(content, :size => 48, :url => [ content.owner, content ]) %>
    <div class="activity-content-title">
      <%= link_to sanitize(content.name), [ content.owner, content ] %>
    </div>

    <div class="activity-content-posts">
      <%= link_to("#{ content.posts.size } #{ t('post', :count => content.posts.size) }", polymorphic_path([ content.container, content], :anchor => 'posts')) if content.posts.any? %>
    </div>
  </div>
</div>
