<h1><%= title %></h1>

<%= published_data(@document) %>

<%= link_logo(@document, :size => 128, :url => formatted_document_path(@document, @document.format)) %>

<br />
<%= sanitize @document.description %>

<p>
<%= tags @document %>
</p>

<hr>

<%= comments(@document) %>
