<h1><%= title %></h1>

<%= published_data(@document) %>

<%= link_logo(@document, :size => 128, :url => formatted_document_path(@document, @document.format)) %>

<br />
<%= simple_format(auto_link(sanitize(@document.description))) if @document.description.present? %>

<p>
<%= tags @document %>
</p>

<hr>

<%= posts(@document) %>
