<% content_for :sidebar do -%>
  <%= container_menu %>
<% end %>

<h1><%= title %></h1>

<%= published_data(@document) %>

<%= link_logo(@document, :size => 128, :url => formatted_document_path(@document, @document.format)) %>

<br />
<%= sanitize @document.description %>

<p>
<%= tag_list @document %>
</p>
