<fieldset>
<p>
  <%= form.label :title, t('photo.file')%><br />
  <%= form.file_field :media %>
</p>

<p>
  <%= form.label :title, t('photo.title') %><br />
  <%= form.text_field :title, :class => "title"%>
</p>

<%= form.tags_select %>

<p>
  <%= form.label :public_read, t('photo.public_read') %><br />
  <%= form.check_box :public_read %>
</p>
</fieldset>

<fieldset>
<p>
  <%= form.label :title, t('photo.description')%><br />
  <%= form.text_area :description %>
</p>
</fieldset>

<%= render :partial => 'contents/notification_form', :object => form %>
