<h1><%= sanitize @photo.title %></h1>

<%= published_data(@photo) %>

<%= link_to(image_tag(polymorphic_path(@photo, :format => @photo.format,
                                               :thumbnail => '600'),
                      :alt => sanitize(@photo.title)),
                      polymorphic_path(@photo, :format => @photo.format)) %>

<br />
<%= sanitize @photo.description if @photo.description %>

<p>
  <%= tags(@photo) %>
</p>

<hr>
<%= posts(@photo ) %>
