<% content_for :sidebar do -%>
  <%= container_menu %>
<% end -%>

<h1><%= sanitize @photo.title %></h1>

<%= published_data(@photo) %>

<a href="<%= photo_path(@photo) %>.<%= @photo.mime_type.to_sym.to_s %>"><img src="<%= photo_path(@photo) %>.<%= @photo.format %>?thumbnail=normal", alt="<%= @photo.title %>"></a>

<br />
<%= sanitize @photo.description if @photo.description %>

<p>
  <%= tag_list(@photo) %>
</p>
