<div id="leftside">
</div>

<div id="contentalt">
  <h1><%= h @photo.title %></h1>

  <p class="soft">
  <%= t('photo.published_by_author_since_time', :author => link_icon_and_name_with_author(@photo),
                                                :time => time_ago_in_words(@photo.updated_at)) %>
  </p>
  <a href="<%= photo_path(@photo) %>.<%= @photo.mime_type.to_sym.to_s %>"><img src="<%= photo_path(@photo) %>.<%= @photo.format %>?thumbnail=normal", alt="<%= @photo.title %>"></a>

  <br />
  <%= sanitize @photo.description if @photo.description %>

  <br /><br />
  <%= tag_list(@photo) %>
</div>
