<% content_for :title_header, title(t('performance.other_in', :stage => @stage.name), :append_site_name => true) %>

<h1><%= t('performance.other_in', :stage => @stage.name) %></h1>

<div id="performances" class="span-16">
<% @performances.each do |performance| -%>
  <% div_for performance, :class => 'span-16' do -%>
    <div class="prepend-1 span-6">
    <%= link_logotype performance.agent %>
    </div>

    <div class="span-6">
    <% if authorized?([ :update, :performance ], @stage) %>
      <%= render :partial => 'edit_role_form', :object => performance %>
    <% else -%>
      <%= performance.role.name %>
    <% end -%>
    </div>

    <div class="span-3 last">
      <%= delete(performance) %>
    </div>
  <% end -%>
<% end -%>
</div>

<% if @stage.try(:parent).present? %>
  <%= render :partial => 'new_performance' %>
<% else -%>
  <%= render :partial => 'invitations' %>
<% end -%>
