<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title><%= yield(:title_header) || title("", :append_site_name => true) %></title>
  <meta name="description" content="<%= yield :description_header %>" />
  <meta name="keywords" content="<%= yield :keywords_header %>" />
  <meta name="author" content="<%= yield :author_header %>" />

  <%= stylesheet_link_tag "screen", :media => "screen, projection" %>
  <%= stylesheet_link_tag "style", :media => "screen, projection" %>
  <%= stylesheet_link_tag "print", :media => "print" %>
  <!--[if IE]>
    <%= stylesheet_link_tag "ie", :media => "screen, projection" %>
  <![endif]-->

  <%= yield :headers %>

  <% if yield(:javascript).present? %>
  <script type="text/javascript" charset="utf-8">
     $(document).ready(function() {
      <%= yield :javascript %>
     })
  </script>
  <% end %>
</head>

<body>
  <div id="site" class="container">
    <div id="header">
      <div id="header-session">
        <%= current_header_session %>
      </div>
      <div id="header-logotype">
        <div id="header-logo">
          <%= current_header[:logo] %>
        </div>
        <div id="header-title">
          <%= current_header[:title] %>
        </div>
        <div id="header-subtitle">
          <%= current_header[:subtitle] %>
        </div>
      </div>
      <div id="header-location" class="span-22 last">
        <%= current_header[:location] %>
      </div>
      <div id="header-bottom">
      </div>
    </div>
    <div id="content" class="prepend-1 span-22 append-1 last">
      <div id="notification" class="span-22 last">
        <%= notification_area %>
      </div>
      <div id="main" class="span-16">
        <%= yield %>
        <div id="pagination_container" class="prepend-1 span-14 append-1 prepend-top append-bottom">
          <%= yield :pagination %>
        </div>
      </div>
      <div id="sidebar" class="span-6 last">
        <%= yield(:sidebar) || sidebar %>
      </div>
    </div>
    <hr class="site">
    <div id="footer">
      <div id="footer-copy" class="prepend-10">
        <p><%= link_to "MOVE", 'http://github.com/atd/move' %> &copy; 2009 atd</p>
      </div>
    </div>
  </div>
</body>
</html>
