<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <title><%= t :login_to, :site => current_site.name %></title>
  <meta name="description" content="<%= yield :description_header %>" />
  <meta name="keywords" content="<%= yield :keywords_header %>" />
  <meta name="author" content="<%= yield :author_header %>" />

  <%= stylesheet_link_tag "screen", :media => "screen, projection" %>
  <%= stylesheet_link_tag "style", :media => "screen, projection" %>
  <%= stylesheet_link_tag "print", :media => "print" %>
<!--[if IE]>
  <%= stylesheet_link_tag "ie", :media => "screen, projection" %>
<![endif]-->
  <%= yield :headers %>
</head>

<body>
  <div id="site" class="container ">
    <div id="header">
      <div id="header-logotype">
        <div id="header-logo">
          <%= current_header[:logo] %>
        </div>
        <div id="header-title">
          <%= current_header[:title] %>
        </div>
      </div>
    </div>
    <div id="content" class="prepend-1 span-22 append-1 last">
      <div id="notification" class="span-22 last">
        <%= notification_area %>
      </div>
      <div id="main" class="span-22 last">
        <div id="new_session" class="prepend-8">
          <%= yield %>
        </div>
      </div>
    </div>
    <hr class="site">
    <div id="footer">
      <div id="footer-copy" class="prepend-10">
        <p><%= link_to "MOVE", 'http://github.com/atd/move' %> &copy; 2009 atd</p>
      </div>
    </div>
  </div>
</body>
</html>
